.container-fluid.py-5
    .row
        .col-md-8.offset-md-2
            = image_tag @representatives.photoUrl || 'https://via.placeholder.com/150'
        .col-md-8.offset-md-2
            %h1.text-center
                = @representatives.name.to_s
            %h2.text-center
                = @representatives.line1
            %h2.text-center
                = @representatives.city
            %h2.text-center
                = @representatives.state
            %h2.text-center
                = @representatives.zip
            %h2.text-center
                = @representatives.party
    .row
        .col-md-8.offset-md-2
        = link_to 'Back to representatives list', class: 'btn btn-primary col-2'
